<footer class="footer">
    <div class="container">
        <div class="subscribe">
            <div class="subscribe__col">
                <h2 class="subscribe__title">Subscribe Now for Get Special Features!</h2>
                <p>Let's subscribe with us and find the fun.</p>
            </div>
            <a href="#" class="btn-secondary">Subscribe Now</a>
        </div>
        <div class="footer__area">
            <div class="footer__info">
                <a href="#" class="footer__logo">
                    <img src="/assets/img/logo.svg" alt="LaslesVPN">
                </a>
                <p class="footer__text"><span class="footer__text__bold">LaslesVPN</span> is a private virtual network that has unique features and has high security.</p>
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#" target="_blank" class="social-list__link">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" target="_blank" class="social-list__link">
                            <span class="icon-twitter"></span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" target="_blank" class="social-list__link">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                </ul>
                <p class="footer__copy">&copy; 2020LaslesVPN</p>
            </div>
            <div class="footer__menu">
                <div class="footer__col">
                    <h4 class="footer__title">Product</h4>
                    <ul class="footer__nav">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Download </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Pricing</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Locations</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Server</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Countries</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h4 class="footer__title">Engage</h4>
                    <ul class="footer__nav">
                        <li class="footer__item">
                            <a href="#" class="footer__link">LaslesVPN ?  </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">FAQ</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Tutorials</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Terms of Service</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h4 class="footer__title">Earn Money</h4>
                    <ul class="footer__nav">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Affiliate </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Become Partner</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>