/* colors */
$light: #F6F6F6;
$black: #000;
$white: #fff;
$orange: #F53838;
$gray: #4F5665;
$dark-gray: #0B132A;
$light-gray: #EEEFF2;
$pink: #FFECEC;
$green: #2fab73;
$light-gray-2: #ddd;
$button-gray: #DDE0E4;
$light-gray-3: #F8F8F8;
$light-gray-4: #AFB5C0;



/* others */
$border-radius-1: 10px;